{% extends 'flatpages/default.html' %}
{% load cache %}
{% block title %}Personal Area{% endblock title %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'post_list' %}">Main</a>
            {% if not user.username %}
            <a class="nav-link active" href="{% url 'signup' %}">Sign Up</a>
            <a class="nav-link active" href="{% url 'login' %}">Login</a>
            {% else %}
            <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'post_create'%}">Create article</a></li>
                    {% endif %}
                    {% if not current_user.is_subscriber %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'subscribe' %}">Subscribe</a></li>
                    {% else%}
                    <li class="nav-item"><a class="nav-link" href="{% url 'unsubscribe' %}">Unsubscribe</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">User: {{user.username}}</div>
    <div class="container">subscription completed: {{current_user.is_subscriber|yesno:"Да, Нет, -"}}</div>
{% endblock nav %}
{% block content %}
    <div class="container text-center mt-5">
        <h1 class="p-sm-3">Article replies</h1>
        <hr>
        <div class="container text-center mt-5">
        <table class="container">
            <tr>
                <td><h5 class="p-sm-3">Replies</h5></td>
                <td><h5 class="p-sm-3">Author</h5></td>
                <td><h5 class="p-sm-3">Date of creation</h5></td>
                <td><h5 class="p-sm-3">Date of article</h5></td>
                <td><h5 class="p-sm-3">Approved</h5></td>
            </tr>
            {% for item in replies %}
            <tr>
                <td><h5 class="p-sm-3"><a href="{% url 'reply_detail' item.id %}">{{item.content|truncatewords:4}}</a></h5></td>
                <td><h5 class="p-sm-3">{{item.author}}</h5></td>
                <td><h5 class="p-sm-3">{{item.created_date}}</h5></td>
                <td><h5 class="p-sm-3"><a href="{% url 'sorted_by_post' post_id=item.post.id %}">{{item.post}}</a></h5></td>
                <td><h5 class="p-sm-3">{{item.approved|yesno:"Yes, No, -"}}</h5></td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
{% endblock content %}