{% extends 'flatpages/default.html' %}
{% load cache %}


{% block title %}
Read more
{% endblock title %}

{% block content %}
 <div class="container text-center mt-5">
        <h1 class="p-sm-3">Read more</h1>
        {% if post.author.name.username != user.username %}
            <a class="navbar-toggler" href="{% url 'reply' post.pk %}">To make a response</a>
        {% else %}
            <a class="navbar-toggler" href="{% url 'post_update' post.pk %}">Update article</a>
            <a class="navbar-toggler" href="{% url 'post_delete' post.pk %}">Delete article</a>
        {% endif %}
        <h4 class="p-sm-3">Author: {{post.author}}</h4>
        <h5 class="p-sm-3">Date of creation: {{post.pub_date}}</h5>
        <h5 class="p-sm-3">{{post.title}}</h5>
        <p class="p-sm-1">{{post.content|safe}}</p>
    </div>
{% endblock content %}

